div.add-video-panel {
  text-align: center;
  span {
    margin: 5px auto;
    display: block;
    text-align: center;
  }
  span.error {
    color: rgb(255, 0, 0);
  }
  span.success {
    color: rgb(7, 204, 0);
  }
  select,
  input,
  button {
    width: 250px;
    display: block;
    margin: 15px auto;
    padding: 5px 15px;
  }
  image {
    width: 250px;
    height: 250px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    cursor: pointer;
  }
  input {
    box-sizing: border-box;
  }
  button {
    border-radius: 0px;
    border: none;
  }
  div {
    div.speaker-image {
      overflow: hidden;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      border: solid thick #fff;
      margin: 25px auto;
      text-align: center;
      img {
        max-width: 100%;
        min-height: 100%;
      }
    }
  }
}
