<div class="add-video-panel">
  <h1>Dashboard</h1>

  <span class="error" *ngIf="error">{{error}}</span>
  <span class="success" *ngIf="success">{{success}}</span>

  <!-- section selector -->
  <select [(ngModel)]="type" (change)="resetValues()">
    <option value="" selected disabled hidden>Choose Type</option>
    <option value="lecture">Lecture</option>
    <option value="music">Music</option>
    <option value="speaker">Speaker</option>
  </select>

  <!-- add new music -->
  <div *ngIf="type === 'music'">
    <select [(ngModel)]="genre">
      <option value="" selected disabled hidden>Choose Genre</option>
      <option *ngFor="let genre of genres" value="{{ genre.slug }}">{{ genre.type }}</option>
    </select>
    <input [(ngModel)]="video" type="text" placeholder="Video URL" />
    <button (click)="addMusic()">Add Music</button>
  </div>

  <!-- add new lecture -->
  <div *ngIf="type === 'lecture'">
    <select [(ngModel)]="speaker">
      <option value="" selected disabled hidden>Choose Speaker</option>
      <option *ngFor="let speaker of speakers" value="{{ speaker.slug }}">{{ speaker.name }}</option>
    </select>
    <input [(ngModel)]="title" type="text" placeholder="Title" />
    <input [(ngModel)]="video" type="text" placeholder="Video URL" />
    <input [(ngModel)]="keywords" type="text" placeholder="Keywords" />
    <button (click)="addLecture()">Add Lecture</button>
  </div>

  <!-- update speaker -->
  <div *ngIf="type === 'speaker'">
    <select [(ngModel)]="speaker" (change)="getSpeakerImage()">
        <option value="" selected disabled hidden>Choose Speaker</option>
        <option *ngFor="let speaker of speakers" value="{{ speaker.slug }}">{{ speaker.name }}</option>
    </select>
    <div *ngIf="speaker">
      <div *ngIf="image" class="speaker-image">
        <img src="{{image}}" alt="speaker image">
      </div>
      <input [(ngModel)]="image" type="text" placeholder="Image URL" />
      <button (click)="updateSpeaker()">Update</button>
    </div>
  </div>

</div>
