@import '../global.style.scss';

div.Browse {
    box-sizing: border-box;
    padding: 0px 0px 100px 200px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media only screen and (max-device-width: 480px) {
    div.Browse {
        padding: 0px 0px 100px 0px;
    }
}