@import '../global.style.scss';

div.Featured {
    span.title {
        font-size: 1.25em;
        font-weight: bold;
        display: block;
        margin: 15px;
    }

    div.collection {
        padding: 0px 15px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        >div {
            display: inline-block;
            margin-right: 15px;
            >div {
                height: 150px;
                width: 150px;
                background-color: $grey;
                margin-bottom: 10px;
                cursor: pointer;
                background-size: cover;
            }

            >span {
                text-transform: capitalize;
                font-size: 0.85em;
                display: block;
            }

            span.years {
                color: #969696;
            }

            >div:hover {
                opacity: 0.5;
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div.Featured {
        >div {
            div.collection {
                grid-template-columns: 1fr 1fr;
                >div {
                    margin: 0px;
                    padding-bottom: 15px;
                    >div {
                        margin: 0px auto 5px auto;
                        display: block;
                    }
                    >span {
                        margin-left: 5%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    div.Featured {
        >div {
            width: 49%;
            display: inline-block;
            div.collection {
                grid-template-columns: 1fr 1fr 1fr;
                >div:nth-child(4) {
                    display: none;
                }
            }
        }
    }
  }