@import '../global.style.scss';

div.Player {
    background-color: $grey;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;

    >div {
        width: 50px;
        height: 50px;
        float: left;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    >div:last-child {
        float: right;
    }

    div.controls {
        display: block;
        width: 100%;
        text-align: center;
        position: fixed;
        margin-top: 10px;

        div {
            display: none;
        }

        i {
            margin: 0px 30px;
            font-size: 1em;
            cursor: pointer;
        }

        i.mobile {
            display: none;
        }

        i:hover {
            opacity: 0.5;
        }
    }

    span {
        position: absolute;
        text-transform: capitalize;
        width: 100%;
        margin-top: 40px;
        font-size: 0.75em;
        font-weight: 100;
        font-weight: 100;
        letter-spacing: .10em;
        display: block;
        white-space: nowrap;
        overflow: hidden;

        b {
            font-weight: bold;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div.Player {
        >div {
            iframe {
                display: none;
            }
        }

        span {
            width: 80%;
            left: 10%;
        }

        div.controls {
            margin-top: 0px;
            margin-left: -15px;
            i.fa-play {
                display: none;
            }

            i {
                display: inline-block;
                margin-top: -5px;
            }

            div {
                display: inline-block;
                height: 30px;
                border-radius: 100%;
                overflow: hidden;
                width: 30px;
                .mobile-video {
                    display: inline-block;
                    float: none;
                    background-color: $darkgrey;

                    >div {
                        height: 100%;
                        width: 100%;

                        iframe {
                            height: 30px;
                            border-radius: 100%;
                            overflow: hidden;
                            width: 30px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}