@import '../global.style.scss';

div.Player {
    background-color: $grey;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    > div > iframe {
        height: 197px;
        width: 100%;
        margin-top: 10px;
    }
}