@import '../global.style.scss';

div.Songs {
    box-sizing: border-box;
    padding: 0px 0px 125px 200px;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
    >div.music-cover {
        padding: 25px 0px;
        h2 {
            margin-left: 15px;
            font-size: 4em;
        }
    }
    >div.cover {
        display: grid;
        width: 100%;
        grid-template-columns: 200px 1fr;
        padding: 25px;
        box-sizing: border-box;
        div.image {
            height: 200px;
            width: 200px;
            background-size: cover;
            margin-right: 15px;
        }
        div.bio {
            margin-left: 15px;
        }
        span {
            font-size: 0.75em;
        }
    }
    div.song,
    div.titles {
        padding: 15px;
        display: grid;
        grid-template-columns: 75% 25%;
        text-transform: capitalize;
        div {
            overflow: hidden;
            white-space: nowrap;
            margin-right: 50px;
        }
    }
    div.song {
        cursor: pointer;
        border-top: $grey solid thin;
    }
    div.song:hover {
        opacity: 0.5;
        background-color: $grey;
    }
}

@media only screen and (max-device-width: 480px) {
    div.Songs {
        padding: 50px 0px 125px 0px;
        >div.cover {
            padding: 15px;
            display: block;
            min-height: 125px;
            div.image {
                float: left;
                height: 100px;
                width: 100px;
            }
            div.bio {
                margin-left: 0px;
            }
        }
        div.song,
        div.titles {
            grid-template-columns: 1fr;
            div {
                margin-right: 15px;
            }
            div:nth-child(2) {
                display: none;
            }
        }
    }
}