@import '../global.style.scss';

div.Songs {
    box-sizing: border-box;
    padding: 0px 0px 125px 200px;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
    >div.cover {
        display: grid;
        width: 100%;
        grid-template-columns: 200px 1fr;
        padding: 25px;
        box-sizing: border-box;
        div.image {
            height: 200px;
            width: 200px;
            background-size: cover;
            margin-right: 15px;
        }
        div.bio {
            margin-left: 15px;
        }
        span {
            font-size: 0.75em;
        }
    }
    div.song {
        border-top: $grey solid thin;
        padding: 15px;
        cursor: pointer;
        display: grid;
        grid-template-columns: 75% 25%;
    }
    div.song:hover {
        opacity: 0.5;
        background-color: $grey;
    }
}