<div id="splash-wrapper">

  <div id="status-bar">
    You're listening to
    <h1>{{ this.lectures.playing.name }}</h1>
    with {{ this.music.playing.name }}...
  </div>

  <div id="video-wrapper" *ngIf="this.lectures.playing.url && this.music.playing.url">
    <iframe [src]="this.lectures.playing.url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe [src]="this.music.playing.url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div id="controls-wrapper">
    <div class="btn" (click)="this.newLecture(true)">New Lecture</div>
    <div class="btn" (click)="this.newSong(true)">New Song</div>
  </div>

  <div id="speakers-wrapper">
    <div *ngFor="let speaker of this.lectures.speakers.names" (click)="this.toggle(speaker, 'lectures')" [ngStyle]="{ 'background-image': 'url(' + this.lectures.speakers.images[speaker].image + ')'}"
      id="{{ speaker }}"></div>
  </div>

  <div id="genres-wrapper">
    <div *ngFor="let genre of this.music.genres" (click)="this.toggle(genre, 'music')" id="{{ genre }}">{{ genre }}</div>
  </div>

  <div id="footer">Yogi FM | Developed By
    <a href="https://twitter.com/jadeallencook" target="_blank">@jadeallencook</a>
  </div>

</div>
