@import './colors.scss';

.App {
  text-align: center;
  padding: 25px 0px;
  h1 {
    font-size: 1.25em;
    font-weight: 100;
    margin-bottom: 25px;
    span {
      font-size: 2em;
      display: block;
      text-transform: capitalize;
    }
  }
  iframe {
    margin: 0px 10px;
  }

  div.speakers {
    max-width: 750px;
    margin: 0px auto;
    padding: 25px 0px;
    div {
      display: inline-block;
      margin: 10px;
      height: 75px;
      width: 75px;
      border-radius: 100%;
      background-color: $lightgrey;
      background-size: cover;
      background-position: center center;
      cursor: pointer;
    }
  }

  div.music {
    padding: 0px 0px 25px 0px;
    div {
      display: inline-block;
      cursor: pointer;
      background-color: $lightgrey;
      padding: 5px 15px;
    }
  }

  span.footer {
    font-size: 0.75em;
    margin-bottom: 25px;
    a {
      color: $blue;
      text-decoration: none;
    }
  }

  span.share {
    display: block;
    margin-bottom: 15px;
    span {
      display: block;
      font-size: 0.75em;
    }
    button {
      border-radius: 0px;
      border: none;
      background-color: $blue;
      color: $white;
      padding: 5px 15px;
    }
    input {
      width: 150px;
      margin: 0px auto;
      border: none;
      padding: 5px 5px;
    }
  }
}
