@import './global.style.scss';

body {
  margin: 0;
  padding: 0;
  background-color: $lightgrey;
  color: $white;
  font-family: $roboto;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

h1,
h2 {
  margin: 0px;
}